.user-message{
  display: flex;
  justify-content: end;
  /* align-items property doesn't allow the elements inside the flexbox to stretch*/
  align-items: start;
  margin-top: 10px;
}
.robot-message{
  display: flex;
  justify-content: start;
  align-items: start;
}
.chat-message{
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px; 
  max-width: 300px; 
}