/* This CSS file contains properties that are for this App component only*/

.app-container{
  /* by default flexbox position everything in a horizontal way ao we need to change that 
    make it work on vertical rows*/
  display: flex;
  /* flex-direction property controls how the elements will be positioned 
    by default it's set to row with having multiple rows in horizontal direction*/
  flex-direction: column;
  max-width: 700px;
  /* These two below are for centering*/
  margin-left: auto;
  margin-right: auto;
  /* 100vh means 100% of the height of the browser
    This will provide us the whole webpage that is visible to us
    and vh viewport height*/
  height: 100vh;
}

